
			<div class="container">
				<div class="contact">
				<div class="contact-in">
				<h3>Syarat dan Ketentuan</h3>
				<div class=" col-md-9 contact-left">
				  
					<ol type="1">
						<li>Produk-produk lelang yang tersedia di www.lelangbusana.com merupakan produk – produk fashion yang masih dalam kondisi baru, layak dan dengan harga yang cukup murah, dapat dibandingkan dengan pasar grosir seperti pasar tanah abang di Jakarta pusat.</li>
						<br>
						<li>SEBELUM PENAWARAN</li>
							<ol type="a">
								<li>Peminat bersedia menyetujui dan tidak boleh melanggar persyaratan maupun ketentuan yang berlaku di www.lelangbusana.com.</li>
								<li>Peminat yang ingin melakukan penawaran harga wajib melakukan registrasi sebagai bukti kepesertaan.</li>
								<li>Peserta wajib menjaga kerahasiaan User ID dan password masing-masing.</li>
								<li>Silahkan menunggu konfirmasi email bahwa account anda telah aktif.</li>
							</ol>
						
						<li>PENAWARAN</li>
							<ol type="a">
								<li>Bagi peserta yang telah melakukan registrasi dan melengkapi data dapat melakukan negosiasi harga dengan cara menghubungi kami di Customer Service  (021) 2962 5743, pada hari dan jam kerja yaitu:
									<br>
									<h5><b>SENIN – JUM’AT	:	09.30 WIB – 16.30 WIB</b></h5>
									
									<h5><b>SABTU		:	09.30 WIB – 14.00 WIB</b></h5>

									<h5><b>MINGGU dan HARI LIBUR NASIONAL (LIBUR)</b></h5>
								</li>
								<li>Kami sarankan agar peserta yang ingin melakukan negosiasi harga, serius dan tidak asal dalam menawar harga dikarenakan banyaknya peserta yang sangat menginginkan produk lelang dengan harga yang murah.</li>
								<li>Peserta dianggap sungguh-sungguh telah mengetahui apa yang telah ditawar olehnya. Penawaran dilakukan secara sadar tanpa paksaan dari pihak mana pun.</li>
								<li>Peserta dengan penawaran tertinggi akan dinyatakan sebagai pemenang.</li>
							</ol>
						<li>SETELAH PENAWARAN</li>
							<ol type="a">
								<li>Pemenang wajib melunasi total harga yang dimenangkan beserta biaya ongkos kirim selambat-lambatnya 1 (satu) jam setelah transaksi disepakati.</li>
								<li>
									Pembayaran dapat ditransfer tiga rekening berikut:
									<br>
									<h5>Bank Mandiri :</h5>
									<h5>Nomor Rekening	: 121 – 000631 – 494 - 6</h5>
									<h5>Kantor Cabang  	:  Thamrin City</h5>
									<h5>Atas Nama       : CV D'Zaky Utama</h5>
									<br>
									<h5>Bank BRI :</h5>
									<h5>Nomor Rekening	: 0594 – 01 – 000123 – 302  atau  0594 – 01 – 000123 – 30-2</h5>
									<h5>Kantor Cabang  	:  Patra Jasa</h5>
									<h5>Atas Nama       : CV D'Zaky Utama</h5>
									<br>
									<h5>Bank BNI :</h5>
									<h5>Nomor Rekening	: 375 – 308 – 246</h5>
									<h5>Kantor Cabang  	:  Thamrin City</h5>
									<h5>Atas Nama       : CV D'Zaky Utama</h5>
									<br>
								</li>
								<li>Pemenang wajib mengisi Surat Perjanjian yang dapat diunduh di www.lelangbusana.com/perjanjian</li>
								<li>Bukti setoran, Surat Perjanjian dan identitas diri harus dikirimkan paling lambat 1 (satu) jam via email ke admin@lelangbusana.com atau  Fax. (021) 2962 5743</li>
								<li>Pemenang yang tidak melunasi pembayaran sesuai dengan waktu yang telah ditetapkan, maka dinyatakan BATAL.</li>
								<li>Produk yang telah dimenangkan dan telah dibayarkan tidak dapat DIBATALKAN.</li>
								<li>Produk yang telah dimenangkan dan telah dibayarkan tidak dapat ditukar sebagian atau keseluruhan dengan produk lain manapun</li>
							</ol>
						<li>Pengiriman akan diproses dan dilakukan dalam waktu 2 hingga 6 hari kerja, setelah kami menerima konfirmasi atas pembayaran, surat perjanjian, dan KTP melalui email. </li>
						<li>Pemenang yang telah menerima produk yang dimenangkan wajib memberikan konfirmasi kepada CV. D’Zaky Utama baik melalui Customer Service kami ke (021) 2962 5743 atau email admin@lelangbusana.com.</li>
						<li>Pemenang bersedia menyetujui dan tidak boleh melanggar persyaratan maupun ketentuan yang berlaku di www.lelangbusana.com.</li>
					</ol>   
				  </div>

				<div class=" col-md-3 contact-right">
				     	<h5>Informasi Kantor</h5>
						<p>Thamrin City Lantai 3 Blok B 12a No. 5-02</p>
						<br>
						<p>Tanah Abang, Jakarta Pusat</p>
				 	 	<p>Email: <a href="mailto:admin@lelangbusana.com">admin@lelangbusana.com</a></p>
				   		
				    </div>
					  <div class="clearfix"></div>
				 </div>
				
			     
      		</div>
		    </div>

	