
			<div class="container">
				<div class="contact">
				<div class="contact-in">
				<h3>Perjanjian Jual Beli Barang</h3>
				<div class=" col-md-9 contact-left">
					<h4>Download form perjanjian jual beli barang <a href="{$basedomain}public_assets/perjanjian_jual_beli_barang.pdf" target="_blank">disini</a></h4>  
				</div>

				<div class=" col-md-3 contact-right">
				     	<h5>Informasi Kantor</h5>
						<p>Thamrin City Lantai 3 Blok B 12a No. 5-02</p>
						<br>
						<p>Tanah Abang, Jakarta Pusat</p>
				 	 	<p>Email: <a href="mailto:admin@lelangbusana.com">admin@lelangbusana.com</a></p>
				   		
				    </div>
					  <div class="clearfix"></div>
				 </div>
				
			     
      		</div>
		    </div>

	