
			<div class="container">
				<div class="contact">
				<div class="contact-in">
				<h3>contact</h3>
				<div class=" col-md-9 contact-left">
				  
					    <form >
					    	<div>
						    	<span>Name</span>
						    	<input name="userName" type="text" class="textbox">
						    </div>
						    <div>
						    	<span>E-Mail</span>
						    	<input name="userEmail" type="text" class="textbox">
						    </div>
						    <div>
						    	<span>Subject</span>
						    	<textarea name="userMsg"> </textarea>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit"></span>
						  </div>
					    </form>
				  </div>

				<div class=" col-md-3 contact-right">
				     	<h5>Informasi Kantor</h5>
						<p>Thamrin City Lantai 3 Blok B 12a No. 5-02</p>
						<br>
						<p>Tanah Abang, Jakarta Pusat</p>
				 	 	<p>Email: <a href="mailto:customer_services@lelangbusana.com">admin@lelangbusana.com</a></p>
				   		
				    </div>
					  <div class="clearfix"></div>
				 </div>
				
			     <div class="map">
				 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3966.520714752013!2d106.81584799999999!3d-6.194814!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1b60abd2e0b3d6d1!2sThamrin+City!5e0!3m2!1sid!2sid!4v1428238599321" width="600" height="450" frameborder="0" style="border:0"></iframe>
				</div>
      		</div>
		    </div>

	