<div class="container" style="max-width: 930px;">  
  <div id="carousel-home" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{$basedomain}public_assets/banner/1.jpg" class="img-responsive" />
        <div class="carousel-caption">
          Asosiasi Profesor Indonesia
        </div>
      </div>
      <div class="item">
        <img src="{$basedomain}public_assets/banner/2.jpg" class="img-responsive" />
        <div class="carousel-caption">
          Asosiasi Profesor Indonesia
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>