<script>
$(function () {
	$('#postdate').datepicker ();
	$('#expiredate').datepicker ();
	
	$("#isi").jqte();
	
	$('input:checkbox, input:radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		inheritClass: true
	})
})
</script>

<div id="content-header">
	<h1>Tambah File</h1>
</div> <!-- #content-header -->	

<div id="content-container">
	<form id="validate-enhanced" class="form parsley-form" method="post" action="{$basedomain}direktori/inpFile" enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-9">
				<div class="portlet">
				
					<div class="portlet-header">

						<h3>
							<i class="fa fa-tasks"></i>
							Form File
						</h3>

					</div> <!-- /.portlet-header -->
				
					<div class="portlet-content">
				
						<div class="col-sm-9">
							<div class="form-group">
							<label for="text-input">Tipe File</label>
									<input type="text" name="brief" class="form-control" value="{$data.brief}" data-required="true"/>
							</div>
						</div>
                        
                        <div class="col-sm-5">
							<div class="form-group">
                                <label for="text-input">Jenis Kegiatan</label>
                                
                                <select id="activity" class="form-control" data-required="true" >
                                    <option value="" selected>Pilih Tipe Kegiatan</option>
                                    {foreach $listactivity as $activity}
                                    <option value="{$activity.title}">{$activity.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            
                            {foreach $listactivity as $activity}
                            <div class="form-group activity-name" id="{$activity.title}" style="display: none;">
                                <label for="text-input">Nama Kegiatan</label>
                                
                                <select id="activity-{$activity.title}" name="otherid" class="activity-list form-control">
                                    <option value="" selected>Pilih Kegiatan</option>
                                    {foreach $activity.data as $name}
                                    <option value="{$name.id}">{$name.content}</option>
                                    {/foreach}
                                </select>
                            </div>
                            {/foreach}
                            
                            <!-- hidden -->
                            <input type="hidden" name="id" value="{$data.id}" />
							<input type="hidden" name="gallerytype" value="8" />
							<input type="hidden" name="typealbum" value="3" />
                            <input type="hidden" name="image" value="{$data.content}" />
							<!-- hidden -->
						</div>
                                                
                        <div class="col-sm-12">
                            <div class="form-group">                        
                                <label for="file_image">File</label>                        
                                <div class="fileupload fileupload-new" data-provides="fileupload">
        						  <div class="fileupload-new thumbnail" style="width: 200px; height: 30px;">
                                    <img src="{$data.file}" alt="{$data.image}" /></div>
        						  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; line-height: 20px; min-height: 30px;
padding: 13px 12px;"></div>
        						  <div>
        							<span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Select File</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file_image"/>
                                    </span>
        							<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
        						  </div>
        						</div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
    						
    						<div class="form-group">
    								<div class="checkbox">
    									<label>
    										<input type="checkbox" name="n_status" class="" {$data.n_status} >
    										Publikasikan
    									</label>
    								</div>
    						</div>
    						
    						<input type="submit" class="btn btn-primary" value="Submit" id="submit" />
                        </div>                        
                                                                                                                        
					</div>
				</div>
                                
			</div>
		</div>
	
	</form>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        /* Add event listener to the dropdown input */
        $('select#activity').change( function() {
            var toshow = $(this).val();
            //$('.activity-list').removeProp('disabled');
            $('.activity-list').prop('disabled', true);
            $('.activity-name').hide();
            $('#'+toshow).show();
            $('#activity-'+toshow).prop('disabled', false);
        } );
    } );
</script>